# secrets and local build config
pi-gen/config
pi-gen/stage-venus/01-wifi/files/wifi.env
# build output
*.img
*.img.xz
*.wic
*.wic.gz
__pycache__/
pi-gen/stage-venus/02-readers/files/src/
pi-gen/stage-venus/02-readers/files/install_readers.sh
pi-gen/stage-venus/03-venus/files/
*.tar.zst
